#coommentStyle{
	position:relative;
	display:block;
	padding:10px 0px;
	line-height:1.5em;
	font-size:14px;
	color:#6C6565;
}
#coommentStyle div{position:relative; display:block;}
#coommentStyle p{margin:0px; padding:1px 0px;}
#coommentStyle a{position:relative; display:inline; color:#554E4E; text-decoration:none; font-weight:bold;}
#coommentStyle a:hover{color:#373333; text-decoration:underline;}
#coommentStyle .clear{clear:both;}
#coommentStyle .h2{font-size:20px; color:#474142; font-weight:bold; padding:5px 0px 8px 0px; border-bottom:1px solid #474142;}
#coommentStyle #ccom{
	padding:5px 0px 25px 0px;
}
#coommentStyle #ccom ul{
	position:relative;
	display:block;
	margin:0px;
	padding:0px;
	list-style:none;
	background:none;
}
#coommentStyle #ccom li{
	position:relative;
	display:block;
	list-style:none;
	margin:0px;
	padding:15px 0px 13px 0px;
	background:none;
	border-top:1px solid #847E7F;
}
#coommentStyle #ccom li:first-child{border-top:0px;}
#coommentStyle #ccom ul.children{padding:9px 0px 0px 70px; display:none;}
#coommentStyle #ccom ul.children li{padding:10px 0px; border-top:1px dashed #847E7F;}
#coommentStyle .user{font-weight:bold; color:#554E4E; font-size:15px; padding-right:15px;}
#coommentStyle .comdate, #coommentStyle .comtime{font-size:11px; vertical-align:top;}
#coommentStyle #respond{padding-top:15px;}
#coommentStyle #boxComm{max-width:600px;}
#coommentStyle .shsh span{font-weight:normal; color:#928686;}
#coommentStyle #ccom ul.children .imgComm{display:block;}
#coommentStyle .imgComm{
	position:absolute;
	top:3px;
	left:-70px;
	width:50px;
	height:50px;
	display:none;
	background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOkAAHUwAADqYAAAOpgAABdvkl/FRgAAAchJREFUeNrsms1tg0AQRj+PaIAWnBKSEpIS0gKUYEs5R8IlLCWkhVBCqIUSyCFrC6OBsLvfIBmxF8s+vKdn8zOLfOj7HltYgo2sPWQPMVoZAHycztf3JwAdgNrIZ8L/vFR/IX4VAKrBe3aMKf96aOUA3OBzN5KmLmv+LaQDUCqHgSN5rPl3J3utyAqizJQviuzNf4ND2Zc/PBgxJnzt8tsosncA36QYE/7UfaRVZM/EGDpfFshaRXYkxlD4Ein78a9WMcH8JSNKp8hy/80xYih8CZQ1xjHRfImQ1YqsIMZE8WOm31KROVJMNF8SZJfRZ+yYIH7KfuSsjBzOz1CMFcRP3Vhp81NlPJ+pfDGSrT5sClH2ogyDjjhszvKZe/ZWOUEL4gVgls8MKZRdX0vc0s7yhShxCyZcM74YSbRj2pSfGnKakJTEx0eL+FmCRLvTMiOC+BlRUhJP7GC+bCEiNCQ3jkjiZwGS8SZH29mlRCTxZQsRS0IeIuK/kKMiaQE8kSKo/KlzRHtYxhw56HzZQoQWokmYc5MZfxjyOiFhjRym/GwkgXGEFf/2izSju2fJlKzAv7tqlQa7OqzFP+z/RdlD9pA95KHW7wAq18g73m2gzgAAAABJRU5ErkJggg==') 0px 0px no-repeat;
	background-size:contain;
	z-index:10;
}
#coommentStyle #respond textarea{
	position:relative;
	display:inline-block;
	width:100%;
	height:90px;
	max-width:100%;
	box-sizing:border-box;
	border:1px solid #787575;
	color:#554E4E;
	vertical-align:top;
	opacity:1;
	padding:2px;
	margin-top:15px;
	outline:none;
	resize:vertical;
}
#coommentStyle #respond input[type=text]{
	position:relative;
	display:inline-block;
	vertical-align:top;
	width:40%;
	height:auto;
	border:1px solid #787575;
	color:#554E4E;
	opacity:1;
	padding:2px;
	margin-top:15px;
	outline:none;
}
#coommentStyle #respond input[type=submit]{
	width:auto;
	height:25px;
	background:#DCD5D5;
	color:#000000;
	cursor:pointer;
	border:0px;
	margin-top:15px;
}
#coommentStyle #respond textarea::-webkit-input-placeholder, #coommentStyle #respond input::-webkit-input-placeholder{color:#554E4E; opacity:1;}
#coommentStyle #respond textarea::-moz-placeholder, #coommentStyle #respond input::-moz-placeholder{color:#554E4E; opacity:1;}
#coommentStyle .ComPag{clear:both; height:auto; padding:10px 0px 20px 0px; text-align:center;}
#coommentStyle .ComPag a, #coommentStyle .ComPag span{display:inline-block; font-size:16px; margin:0px 5px; font-weight:normal; text-decoration:none;}
#coommentStyle .ComPag span{font-weight:bold;}
#coommentStyle .messErr{color:#ff0000; font-size:1.1em; padding:10px 0px 5px 0px;}
#coommentStyle .avaSt{float:left; margin-right:10px; margin-bottom:4px; margin-top:4px;}
#coommentStyle .clearComm{clear:both;}